
.card-uchiha {
  backdrop-filter: blur(6px);
  border:1px solid rgba(255,0,0,0.4);
  box-shadow:0 0 12px rgba(200,0,0,0.6);
  transition:0.3s;
}
.card-uchiha:hover {
  transform:scale(1.03);
  box-shadow:0 0 20px rgba(255,0,0,0.8);
}
