/* Tema Dark (padrão) */
:root {
  --bg: #000;
  --text: #fff;
  --card: #111;
  --button-bg: #e00000;
  --button-text: #fff;
}

/* Tema Light */
[data-theme="light"] {
  --bg: #f2f2f2;
  --text: #111;
  --card: #fff;
  --button-bg: #333;
  --button-text: #fff;
}

/* Tema Uchiha */
[data-theme="uchiha"] {
  --bg: #0a0a0a;
  --text: #ff4444;
  --card: #1a0000;
  --button-bg: #b30000;
  --button-text: #fff;
}
