:root[data-theme="dark"] {
  --bg: #050505;
  --text: #e6e6e6;
  --accent: #b91c1c;
}
:root[data-theme="light"] {
  --bg: #ffffff;
  --text: #111827;
  --accent: #ef4444;
}
body { background: var(--bg); color: var(--text); }

:root[data-theme="uchiha"] {
  --bg: #0a0a0d;         /* fundo mais sombrio */
  --text: #f2f2f2;       /* texto claro */
  --accent: #d00000;     /* vermelho Uchiha */
}
