/* Tema escuro (padrão) */
:root[data-theme="dark"] {
  --bg: #0b0b0d;
  --text: #ffffff;
  --card-bg: #111113;
  --primary: #ff1a1a;
  --secondary: #8b8b8b;
}

/* Tema claro */
:root[data-theme="light"] {
  --bg: #f5f5f5;
  --text: #111111;
  --card-bg: #ffffff;
  --primary: #d90000;
  --secondary: #444444;
}
