.panel-sidebar {
  width: 260px;
  padding: 20px 18px;
  background: #0b0b0b;
  color: white;
  border-right: 2px solid #b30000;
  box-shadow: inset 0 0 25px rgba(255, 0, 0, 0.2);
}

.panel-title {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

nav a {
  padding: 12px;
  border: 1px solid #330000;
  background: rgba(255, 0, 0, 0.08);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}

nav a:hover {
  background: rgba(255, 0, 0, 0.25);
  border-color: #ff0000;
}

.panel-theme {
  margin-top: 40px;
}
